<div class="card">
    <div class="card-header">
        <h2>Sign up</h2>
    </div>
    <form id="signup-form" class="card-body">
        <div>
            <label for="username-input-signup">Username</label>
            <input type="text" id="username-signup" />
        </div>
        <div>
            <label for="password-input-signup" class="form-label">Password</label>
            <input type="password" id="password-signup" />
        </div>
        <button type="submit" id="signup-button" class="btn">Sign up</button>
        <a type="button" href="/login">Login</a>
    </form>
</div>

<script src="/js/signup.js"></script>